<!DOCTYPE html>
<html>
  <head>
    <title>Afghan Proverbs</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>All Proverbs</h1>
      <a class="link" href="/proverbs/new">&nbsp;&raquo;</a>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>English</th>
            <th>Category</th>
            <th>View Details</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% proverbs.forEach(p => { %>

          <tr>
            <td><%= p.id %></td>
            <td><%= p.translationEn %></td>
            <td><%= p.category %></td>
            <td>
              <button class="btn btn-show">
                <a href="/proverbs/<%= p.id %>">Show</a>
              </button>
            </td>
            <td>
              <button class="btn btn-edit">
                <a href="/proverbs/<%= p.id %>/edit">Edit</a>
              </button>
            </td>

            <td>
              <form method="POST" action="/proverbs/<%= p.id %>/delete">
                <button class="btn btn-delete" type="submit">Delete</button>
              </form>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
