<!DOCTYPE html>
<html>
  <head>
    <title>Afghan Proverbs</title>
    <%- include('head') %>
  </head>
  <body>
    <div class="show-container">
      <div class="span2 flex">
        <h1><%= proverb.translationEn %></h1>
        <a class="btn btn-black" href="/proverbs/random">Random Proverb</a>
      </div>
      <strong>Pashto:</strong>
      <p><%= proverb.textPashto %></p>
      <strong>Dari:</strong>
      <p><%= proverb.textDari %></p>
      <strong>Meaning:</strong>
      <p><%= proverb.meaning %></p>
      <strong>Category:</strong>
      <p><%= proverb.category %></p>

      <div class="action span2">
        <button class="btn btn-edit">
          <a href="/proverbs/<%= proverb.id %>/edit">Edit</a>
        </button>
        <form method="POST" action="/proverbs/<%= proverb.id %>/delete">
          <button class="btn btn-delete" type="submit">Delete</button>
        </form>
        <button class="btn btn-show">
          <a href="/proverbs">&laquo;&nbsp;Back</a>
        </button>
      </div>
    </div>
  </body>
</html>
